<p id="notice"><%= notice %></p>
<h1>
<div align="center"><font color="009999">
  Movie List
</div></font>
</h1>
<style>
body {
	background: url(https://www.directv.com/img/movies.jpg);
	background-size: cover;
	
} table {
	border: 2px solid black;
	width: 100%;
	padding: 15px;}
</style>
<br>
<br>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year Released</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><div align="center"><%= movie.title %></div></td>
        <td><div align="center"><%= movie.description %></div></td>
  		<td><div align="center"><%= movie.year_released %></div></td>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Movie', new_movie_path %>

