<p id="notice"><%= notice %></p>
<h1>
<div align="center"><font color="#000000">
  Movie List
</div></font>
</h1>
<style>
body {
	background: url(http://www.seizpacks.com/sites/default/files/images/background_color.jpg);
	background-size: cover;
	font-family: sans-serif;
	
} table {
	border: 2px solid black;
	width: 100%;
	padding: 15px;}
</style>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year Released</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<br>
	 	<%= form_tag movies_search_path, method: 'POST' do %>
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag 'Search' %>
		<% end %>
<br>
    <% @movies.each do |movie| %>
      <tr>
        <td><div align="center"><%= movie.title %></div></td>
        <td><div align="center"><%= movie.description %></div></td>
  			<td><div align="center"><%= movie.year_released %></div></td>
  			<td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to 'New Movie', new_movie_path %>

<style>
/* unvisited link */
a:link {
    color: #6666FF;
}

/* visited link */
a:visited {
    color: #9900CC;

}