  <div class="field">
    <%= f.label :my_link %><br>
    <%= f.text_field :my_link %>   
  </div>
  <div class="field">
    <%= f.label :hash_code %><br>
    <%= f.text_field :hash_code %>
  </div>
  <div class="field">
  <p>
  <%= f.submit %>
</p>
<% end %>