<h1>Search Results</h1>

<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Upvotes</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>


    <% @stories.each do |story| %>
      <tr>
        <td><div align="center"><%= story.title %></div></td>
        <td><div align="center"><%= story.link %></div></td>
        <td><div align="center"><%= story.upvotes %></div></td>
  		<td><div align="center"><%= story.category %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to 'Back', stories_path %>


